html, body {
  text-align: center;
  width: 100%;
  height: 100%;

}

header {
  width:100%;
  background-color: black;
  border-style: solid;
  border: 0px 0px 15px 0px;
  border-color: lightgray;
  height: 100px;
}

h1, h2, h3 {
  color: white;
}

#game {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 24px;
  line-height: 32px;
  width: 70%;
  float: left;
  margin: auto;
}

#data {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: auto;
  width: 20%;
  float: right;
}
li {

  display: inline;

}


/**
  * sticky footer styles
  */
.main-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
#footer {
  margin-top: 16px;
  border-style: outset;
  border-width: 7px 0px 0px 0px;
  border-color: #4aaaa5;
  background-color: #666666;
}

#footer p {
  text-align: center;
  color: #D3D3D3;
  font-size: 12px;
  padding-top: 30px;
}

#footer, .push {
  height: 4em;
}
